#top {
	background: -webkit-linear-gradient(#37414c, #5E6D7C);
	min-height: 100px;
}

#header {
	background: #37414c;
}

#header img {
	position: relative;
	left: 10px;
	top: -18px;
}

.ui.fluid.eleven.item.menu {
	background: #37414c;

}
.ui.fluid.eleven.item.menu a {
	text-decoration: none;
	color: white;
	font-size: .85em;
}

.ko img{
	height: 50%;
	width:50%;
	margin-left: 20%;
}

.ko {
	margin-top: -130px;

}

.info {
	position: relative;
	top: 200px;
	right: -25%;
}



.footer {
	min-height: 100px;
	background: #37414c;
}

body {
	margin-top: -20px;
	
}